*{
    outline: 0;
    padding: 0;
    margin: 0 auto;
    scroll-behavior: smooth;
}

:root {
    --background-light: yellow;
    --primary-light: black;
    --secondary-light: orange;
    --highlight-light: pink;
    
    --background-dark: black;
    --primary-dark: white;
    --secondary-dark: green;
    --highlight-dark: purple;

    --background-main: var(--background-light);
    --primary-main:var(--primary-light);
    --secondary-main:var(--secondary-light);
    --highlight-main:var(--highlight-light);
}


body{
    background-color: var(--background-main);
    color: var(--primary-main);
    text-align: center;
    font-size: 19px;
    line-height: 1.5;
}

/* Text highlight */
::selection {
    background-color: var(--highlight-main);
}

#main-container{
    display: inline-block; /* Ensure #main-container doesn't take up full width */
    text-align: center; /* Reset text alignment for children */
    width: 90%;
}

#header-container{
    text-align: center;
    user-select: none;
    margin-top: -10px;
}

.primary-divider{
    border-top: 1px solid var(--primary-main);
    margin-top: 20px;
    margin-bottom: 20px;
}

.secondary-divider{
    border-top: 1px solid var(--primary-main);
    margin-top: 8px;
    margin-bottom: 8px;
}

#secondary-container{
    width: 70%;
}

/* essay-link-container (index) */
#essay-link-container{
    display: flex;
    flex-direction: column;
    text-align: start;
    user-select: none;
}

.essay-link{
    margin-bottom: 10px;
    width: auto;
    margin-left: 1px;
}

.essay-link:hover{
    color: var(--secondary-main);
    cursor: pointer;
}

.essay-link-date{
    text-decoration: underline;
    font-weight: bold;
}

/* essay styling */
.essay{
    margin-bottom: 15px;
    text-align: justify;
}

.hyperlink:hover{
    color: var(--secondary-main);
    cursor: pointer;
}

.bold{
    font-weight: bold;
}

.underline{
    text-decoration: underline;
}

.line-through{
    text-decoration: line-through;
}

.italic{
    font-style: italic;
}

/* essay title container */
#essay-title-container{
    font-size: 18px;
    margin-bottom: 8px;
    width: 70%;
}

#essay-title{
    font-size: 22px;
    font-weight: bold;
}


/* navigation button container */
#navigation-button-container{
    display: flex;
    text-decoration: underline;
    margin: auto;
    user-select: none;
}


.navigation-button:hover{
    color: var(--secondary-main);
    text-decoration: underline;
    cursor: pointer;
}

#previous-button{
    margin-left: 0px;
}

#next-button{
    margin-right: 0px;
}





/* essay text container */
#essay-text-container{
    /* border: 1px solid black; */
    text-align: start;
}

/* themes container */
#themes-container {
    width: 95%;
    text-align: end;
    user-select: none;
    margin-bottom: 10px;
}

#themes-button{
    text-decoration: underline;
}

#themes-button:hover{
    color:var(--secondary-main);
    text-decoration: underline;
    cursor: pointer;
}

/* Mobile styling */
@media screen and (max-width: 600px) {
    body{
        text-align: center;
        font-size: 15px;
        line-height: 1.5;
    }

    #secondary-container{
        width: 95%;
    }
}