<!-- 2024-02-01.html -->
{% extends 'essay-template.html' %}


<!-- Additional styling (specific to this essay) -->
{% block essay_styling %}
<style>
    /* add additional styling here (in css form) */
</style>
{% endblock %}


<!-- Page title -->
{% block essay_page_title %}Example Essay 2{% endblock %}


<!-- Essay metadata -->
{% block essay_title %}Example Essay 2{% endblock %}  <!-- Title -->

{% block essay_date %}February 2nd, 2024{% endblock %} <!-- Date -->

{% block essay_location %}Location{% endblock %} <!-- Location -->


<!-- Essay content -->
{% block essay_content %}
<p id="essay-paragraph-0" class="essay">
    This is example essay 2. Insert essay paragraphs here. For example see example below.
</p>

<p id="essay-paragraph-1" class="essay">Lorem ipsum dolor sit amet, consectetur
    adipiscing elit. Duis ut sapien in risus consectetur fermentum. Nullam scelerisque
    pretium turpis, nec faucibus metus ultricies a. Nullam vestibulum massa ut nisi
    dictum, eget consectetur magna suscipit. Fusce scelerisque, velit sed consequat
    fringilla, lorem justo sodales tellus, eu suscipit neque tortor vel justo. Proin
    auctor, sapien nec efficitur vulputate, felis nulla dignissim risus, eget egestas
    ipsum purus a arcu. Nunc dictum, justo at consectetur dictum, lorem magna ultricies
    orci, vel placerat ligula arcu ut nunc. Fusce pulvinar metus ac nisi varius, at
    ultricies odio vestibulum.
</p>

{% endblock %}


<!-- Navigation menu (1 and 2, should be the same) -->
{% block navigation_1 %}
<div id="previous-button" class="navigation-button" link="/2024-02-01">previous</div>
<div id="index-button" class="navigation-button" link="/">index</div>
<div id="next-button" class="navigation-button" link="/2024-02-03">next</div>
{% endblock %}

{% block navigation_2 %}
<div id="previous-button" class="navigation-button" link="/2024-02-01">previous</div>
<div id="index-button" class="navigation-button" link="/">index</div>
<div id="next-button" class="navigation-button" link="/2024-02-03">next</div>
{% endblock %}