<!-- essay (duplicate).html -->
{% extends 'essay-template.html' %}

<!-- 
    Things to do:
1) Add page title (should be essay title)
2) Add essay metadata (title, date, locatio)
3) Add formatted essay content
4) Update navigation links (previous for this page, and next for previous essay)
5) Add styling if requires
6) Update index page (essay link)
7) Test:
    a) Index page link
    b) Next button on previous essay
    c) Previous and next button on this essay

-->


<!-- Additional styling (specific to this essay) -->
{% block essay_styling %}
<style>
    /* add additional styling here (in css form) */
</style>
{% endblock %}


<!-- Page title -->
{% block essay_page_title %}Essay Duplicate{% endblock %}


<!-- Essay metadata -->
{% block essay_title %}Essay Duplicate{% endblock %}  <!-- Title -->

{% block essay_date %}Date, 2024{% endblock %} <!-- Date -->

{% block essay_location %}Location{% endblock %} <!-- Location -->


<!-- Essay content -->
{% block essay_content %}
<p id="essay-paragraph-0" class="essay">
    Essay duplicate template.
</p>
{% endblock %}


<!-- Navigation menu (1 and 2, should be the same) -->
{% block navigation_1 %}
<div id="previous-button" class="navigation-button">previous</div>
<div id="index-button" class="navigation-button" link="/">index</div>
<div id="next-button" class="navigation-button">next</div>
{% endblock %}

{% block navigation_2 %}
<div id="previous-button" class="navigation-button">previous</div>
<div id="index-button" class="navigation-button" link="/">index</div>
<div id="next-button" class="navigation-button">next</div>
{% endblock %}