<!-- index.html -->
{% extends 'website-template.html' %}


<!-- Additional styling -->
{% block styling %} 
<style>
    #essay-paragraph-2{
        margin-bottom: 0px;
    }

    #essay-paragraph-3{
        margin-bottom: 0px;
    }
</style>
{% endblock %}


<!-- Page title -->
{% block page_title %}Example Page Title{% endblock %}


<!-- Secondary container content -->
{% block secondary_container %}

<div id="essay-text-container" class="essay">
    <p id="essay-paragraph-1" class="essay">
        On this page, you'll find essays that I write weekly—sort of like a blog. In short, I aim to publish one short essay
        on here every Sunday. The subject of the essay will vary, but hopefully it'll <span class="italic">at worst</span> be mildly interesting.
        The aim of this project is purely personal; I just want to get better at writing. 
    </p>

    <p id="essay-paragraph-2" class="essay">
        You can find more about this project in the <span class="hyperlink underline" id="intro-essay-hyperlink" link="/2024-02-01">first essay</span>.
    </p>

    <p id="essay-paragraph-3" class="essay">
        All the essays are below, in reverse chronological order.
    </p>

    <div class="secondary-divider"></div>
</div>

<div id="essay-link-container">
    <div class="essay-link hyperlink" link="/1980-01-01" id="1980-01-01">
        <span class="essay-link-date">January 1st, 2024:</span>&nbsp;Example Essay Title 
    </div>
</div>

{% endblock %}


<!-- Additional js scripts if required -->
{% block scripts %}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}